.button {
    width: 36%;
    height: 25%;
    margin-left: 18%;
    margin-right: 2%;
    cursor: pointer;
}

.formClass {
    margin-left: 20%;
}

.formFieldClass {
    width: 100%;
}

table {
    width: 100%;
}

td,
th {
    width: 20%;
}