<div>
    <mat-card class="login">
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="submit()" class="formClass">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Blood Group</mat-label>
                    <input matInput formControlName="bloodgroup">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Allergies</mat-label>
                    <input matInput formControlName="allergies">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Diseases</mat-label>
                    <input matInput formControlName="diseases">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Injury History</mat-label>
                    <input matInput formControlName="injuryhistory">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Medication</mat-label>
                    <input matInput formControlName="medication">
                    <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
                
                <div class="button">
                    <button mat-raised-button class="button" (click)="submit()">Submit</button>
                    <button mat-raised-button class="button" (click)="close()">Close</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>