<div>
    <form [formGroup]="form" (ngSubmit)="submit()" class="formClass">
        <mat-form-field appearance="outline" class="formClasss">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName">
            <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="formClasss">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName">
            <mat-icon matSuffix>face</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="formClasss">
            <mat-label>Blood Group</mat-label>
            <input matInput formControlName="bloodgroup">
            <mat-icon matSuffix>invert_colors</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="formClasss">
            <mat-label>Allergies</mat-label>
            <input matInput formControlName="allergies">
            <mat-icon matSuffix>masks</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="formClasss">
            <mat-label>Diseases</mat-label>
            <input matInput formControlName="diseases">
            <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="formClasss">
            <mat-label>Injury History</mat-label>
            <input matInput formControlName="injuryhistory">
            <mat-icon matSuffix>healing</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="formClasss">
            <mat-label>Medication</mat-label>
            <input matInput formControlName="medication">
            <mat-icon matSuffix>medication</mat-icon>
        </mat-form-field>

        <div class="button">
            <button mat-raised-button class="button" (click)="submit()">Submit</button>
            <button mat-raised-button class="button" (click)="close()">Close</button>
        </div>
    </form>
</div>